@model VacancyManagmentSystem.Areas.AdminArea.Controllers.DashboardViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Welcome Admin</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                    <div class="card-people mt-auto">
                        <img src="~/admin/assets/images/dashboard/people.svg" alt="people">
                        <div class="weather-info">
                            <div class="d-flex">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">Top Category</p>
                                <p class="fs-30 mb-2">@Model.MostJobCategory.CategoryName</p>
                                <p>@Model.MostJobCategory.JobCount</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">Top Vacancy</p>
                                <p class="fs-30 mb-2">@Model.MostAppliedVacancy.VacancyName</p>
                                <p>@Model.MostAppliedVacancy.ApplicationCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <footer class="footer">
       
    </footer>   
</div>